In [2]:
import  os 
import  psycopg2  as  ps 
import  pandas  as  pd

conn = ps.connect(
    host=os.environ["db_host"],
    port=os.environ["db_port"],
    dbname=os.environ["db_name"],
    user=os.environ["db_user"],
    password=os.environ["db_password"])

#### Criar tabelas herdadas no postegresSQL

pose-se criar uma tabela pai/base sa qual outras tabelas que vamos criar irão herdar colunas 

- Criar um vinculo de herança entre uma tabela filho e uma tabela pai

In [ ]:
--criando uma tabela pai
create table publicacao(
    id serial constraint pk_id_pub primary key,
    nome varchar(50),
    dataPub date,
    idioma varchar(25)
);

In [ ]:
-- criando uma tabela filho
create table livros(
	isbn13 char(13) unique,
	tipo_capa varchar(20),
	edicao smallint
)inherits(publicacao); --herda a estrutura da tabela publicação

In [ ]:
-- criando outra tabela filho
create table revistas(
	issn char(8),
	numero smallint,
	unique (issn , numero) -- a combinação de issn e numero é unica
)inherits(publicacao);

In [ ]:
--inserindo dados
INSERT INTO publicacao(nome, dataPub,idioma)
VALUES('Le Monde', '20220411','Francês')

In [4]:
df = pd.read_sql_query("SELECT * FROM publicacao", con=conn)
df

C:\Users\syann\AppData\Local\Temp\ipykernel_3156\2536644355.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM publicacao", con=conn)

   id      nome     datapub   idioma
0   1  Le Monde  2022-04-11  Francês

In [ ]:
INSERT INTO livros (nome,dataPub,idioma,isbn13,tipo_capa,edicao)
VALUES ('livro1','20230103','pt-BR','4002893301234','brochura',2);

In [5]:
df = pd.read_sql_query("SELECT * FROM livros", con=conn)
df

C:\Users\syann\AppData\Local\Temp\ipykernel_3156\3184445779.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM livros", con=conn)

   id    nome     datapub idioma         isbn13 tipo_capa  edicao
0   2  livro1  2023-01-03  pt-BR  4002893301234  brochura       2

In [6]:
df = pd.read_sql_query("SELECT * FROM publicacao", con=conn)
df

C:\Users\syann\AppData\Local\Temp\ipykernel_3156\2536644355.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM publicacao", con=conn)

   id      nome     datapub   idioma
0   1  Le Monde  2022-04-11  Francês
1   2    livro1  2023-01-03    pt-BR

Pode-se ver que os dados inseridos na tabela filho apareceram na tabela pai automáticamente

**HERANÇA DOWN-TOP**
- para registros novos
- de baixo pra cima, quando dados são inseridos na tabela filho, esses dados aparecem tbm na tabela pai

- se uma coluna for adicionada na tabela pai essa coluna é herdada pelos filhos

In [ ]:
--add coluna de número de páginas
ALTER TABLE publicacao
ADD COLUMN nPaginas smallint;